.env
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
*/__pycache__/
*.pyc
*.pyo
main/migrations/__pycache__
users.migrations/__pycache__
venv/
wenv/
# Ignore all migration files
**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py
